apiVersion: apps/v1
kind: Deployment
metadata:
    name: deployment-users
spec:
    replicas: 3
    selector:
        matchLabels:
            app: pod-users
    template:
        metadata:
            labels:
                app: pod-users
        spec:
            containers:
                - name: fiapcloudgames-users
                  image:  users-api:local
                  imagePullPolicy: IfNotPresent
                  ports:
                    - containerPort: 8080 # Porta que a aplicação .NET está ouvindo
                  resources:
                    requests: # O mínimo garantido 
                        cpu: "200m"
                        memory: "128Mi"
                    limits: # O máximo suportado no Pod
                        cpu: "500m"
                        memory: "256Mi"
                  env:
                    - name: Jwt__Key
                      valueFrom:
                        secretKeyRef:
                            name: secret-users
                            key: Jwt__Key
                    
                    - name: Jwt__Issuer
                      valueFrom:
                        secretKeyRef:
                            name: secret-users
                            key: Jwt__Issuer
                    - name: ConnectionStrings__DbConnection
                      valueFrom:
                        secretKeyRef:
                            name: secret-users
                            key: ConnectionStrings__DbConnection