apiVersion: v1
kind: Pod
metadata:
    name: pod-db
    labels:
        app: pod-db
spec:
    containers:
        - name: sqlserver
          image:  mcr.microsoft.com/mssql/server:2022-latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 1433
          env:
            - name: Jwt__Key
              valueFrom:
                secretKeyRef:
                    name: secret-users
                    key: Jwt__Key
            
            - name: Jwt__Issuer
              valueFrom:
                secretKeyRef:
                    name: secret-users
                    key: Jwt__Issuer
            - name: ACCEPT_EULA
              value: "Y"
            - name: MSSQL_SA_PASSWORD
              value: "password@1"