services:
  database:
    image: postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: sqldb-users
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - db_data:/var/lib/postgresql/data

  users-api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:80"
    environment:
      ConnectionStrings__DbConnection: "Server=database;Port=5432;Database=sqldb-users;Username=postgres;Password=postgres;"
      Jwt__Key: "12345678901234567890123456789012"
      Jwt__Issuer: "FIAPCloudGames"
      ASPNETCORE_URLS: "http://+:80"
    depends_on:
      - database

volumes:
  db_data:
