apiVersion: v1
kind: Pod
metadata:
    name: pod-users
    labels:
        app: cloudgames-users
spec:
    containers:
        - name: fiapcloudgames-users
          image:  users-api:local
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080 # Porta que a aplicação .NET está ouvindo
          env:
            - name: Jwt__Key
              valueFrom:
                secretKeyRef:
                    name: secret-users
                    key: Jwt__Key
            
            - name: Jwt__Issuer
              valueFrom:
                secretKeyRef:
                    name: secret-users
                    key: Jwt__Issuer
            - name: ConnectionStrings__DbConnection
              valueFrom:
                secretKeyRef:
                    name: secret-users
                    key: ConnectionStrings__DbConnection